[Service]
ExecStart=/usr/bin/env node /opt/mproxy/daemon.js
StandardOutput=syslog
SyslogIdentifier=mproxyd
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
