[Service]
ExecStart=/usr/bin/env node /opt/tlsproxy/daemon.js
StandardOutput=syslog
SyslogIdentifier=tlsproxy
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
